.detail {
  min-height: 100vh;
  background-color: #000 !important;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
  &-works {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-main {
      position: relative;
    }
    &-ticker {
      position: absolute;
      bottom: 0;
      right: 18px;
      z-index: 9;
      width: 130px;
      height: 46px;
      background: url('../../../assets/images/ticker.png') no-repeat;
      background-size: 100%;
      font-size: 18px;
      line-height: 18px;
      padding: 8px 40px 0 15px;
    }
    &-img {
      width: 375px;
    }
    &-desc {
      position: absolute;
      font-size: 26px;
      border-radius: 15px 0px 0px 15px;
      right: 0;
      z-index: 999;
      top: 75px;
      padding: 54px 18px 12px 18px;
      width: 168px;
      &.type-1 {
        background: url(../../../assets/images/type1.png) rgba(85, 85, 85, 0.5) no-repeat top 8px center;
        background-size: 132px 42px;
      }
      &.type-2 {
        background: url(../../../assets/images/type2.png) rgba(85, 85, 85, 0.5) no-repeat top 8px center;
        background-size: 132px 42px;
      }
      &.type-3 {
        background: url(../../../assets/images/type3.png) rgba(85, 85, 85, 0.5) no-repeat top 8px center;
        background-size: 132px 42px;
      }
      &.type-4 {
        background: url(../../../assets/images/type4.png) rgba(85, 85, 85, 0.5) no-repeat top 8px center;
        background-size: 132px 42px;
      }
      &-btn {
        border-radius: 14px;
        font-size: 14px;
        line-height: 27px;
        height: 27px;
        background-color: #3291f8;
        color: #fff;
      }
    }
  }
  &-operate {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
    &::after {
      content: '';
      display: block;
      border-bottom: 1px solid #333;
    }
  }
  &-btns {
    display: flex;
    &-vote {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 2;
      margin: 10px;
      height: 40px;
      background-color: #3291f8 !important;
      font-size: 14px;
    }
    &-share {
      display: flex;
      flex: 1;
      height: 40px;
      margin: 10px;
      color: #3291f8 !important;
      border: 2px solid #3291f8;
      font-size: 14px;
      justify-content: center;
      align-items: center;
      &-icon {
        width: 14px;
        height: 14px;
        margin-right: 3px;
        display: inline-block;
      }
    }
    &-del {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin: 10px;
      height: 40px;
      background-color: #f83232 !important;
      font-size: 14px;
    }
    &-edit {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin: 10px;
      height: 40px;
      background-color: #3291f8 !important;
      font-size: 14px;
    }
    &-share {
      display: flex;
      flex: 1;
      height: 40px;
      margin: 10px;
      color: #3291f8 !important;
      border: 2px solid #3291f8;
      font-size: 14px;
      justify-content: center;
      align-items: center;
      &-icon {
        width: 14px;
        height: 14px;
        display: inline-block;
      }
    }
  }
}
